$primary-color: #92bcea;
$secondary-color: #171a21;
$body-color: #171a21;
$text-color: white;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    background-color: $body-color;
  }

h2,p {
    color: $text-color;
    font-family: 'Noto Sans', sans-serif ;
    font-size: 20px;
}

