$primary-color: #92bcea;
$secondary-color: #171a21;
$body-color: #171a21;
$movie-title-color: white;
$movie-year-color: white;

// animation
@keyframes fadeInOut {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
    left: 20px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

/* Hide scrollbar for all elements */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: $body-color;
  
}
h1 {
  margin: 10px;
  padding: 5px;
  color: $movie-title-color;
  font-size: 3em;
  margin: 15px 0px 5px 0px;
  text-align: center;
  font-family: sans-serif;
}

.wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 10px;
  display: flex;
  flex-direction: column;
  animation: fadeInOut 1s linear;
  flex-wrap: wrap;
  align-items: center; // vertically center align items
  justify-content: center; // horizontally center align items
  width: 185vh;
  height: 53vh;


  .card {
    padding-bottom: 50px;
    max-height: 300px;
    max-width: 200px;
    margin: 20px 20px;
    position: relative;
    flex: 1;
    flex-basis: 260px;
    flex-grow: 0;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    // background: rgba(255, 255, 255, 0.15);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // backdrop-filter: blur(13.5px);
    // -webkit-backdrop-filter: blur(13.5px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
  

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
     

      &:hover {
        left: 0px;
        transition: all 1s ease-in-out;
        box-shadow: 0 8px 32px 0 #92bcea;
        -webkit-backdrop-filter: blur(13.5px);
        backdrop-filter: blur(13.5px);
        clip-path: ellipse(75%);
      }
    }

    h2 {
      color: $movie-title-color;
      font-size: 20px;
      padding: 10px 20px;
      margin: 15px 0px 5px 0px;
      // word-wrap: break-word;
      // word-break: break-all;
      // text-overflow: ellipsis;

      &:hover {
        color: $primary-color;
      }
    }
    h3 {
      color: $movie-year-color;
      font-size: 15px;
    }
  }
  
}
.list-button {
  display: flex;
  //justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  background-color: #0A66C2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #144d85;
}

