$primary-color: #92bcea;
$secondary-color: #171a21;
$body-color: #171a21;
$movie-title-color: white;
$movie-year-color: white;
$text-color: white;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: $text-color;
    font-family: 'Monsterrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.verifyEmail {
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
    text-align: center;
    padding: 40px 20px;
    background-color: hsl(210, 10%, 98%);

    h1 {
        font-weight: 300;
        margin-top: 0;
    }

    & > p {
        line-height: 25px;
    }

    & > span {
        color: gray;
    }

    & > button {
        margin-top: 35px;
    }
}